@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0e2c5b;
  --color-add-green: #6dba43;
  --color-add-green-hover: #65a83e;
  --color-clean-blue: #1ba2db;
  --color-clean-blue-hover: #1a94c7;
  --font-sans: 'InterVariable', ui-sans-serif, system-ui, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

@layer utilities {
    .font-dancing {
        font-family: "Dancing Script", cursive;
    }
    .font-bodoni {
        font-family: "Bodoni Moda SC", serif;
    }
    .font-roboto-serif {
        font-family: "Roboto Serif", serif;
    }
}

@layer components{
  .slider {
    @apply grid;
    grid-template-areas: "slide";
  }

  .slider-children {
    grid-area: slide;
  }

  .slider-dots {
    grid-area: slide;
    @apply z-[40] self-end justify-self-center;
  }

  .slider-arrow-prev {
    grid-area: slide;
    @apply z-[40] self-center justify-self-start;
  }

  .slider-arrow-next {
    grid-area: slide;
    @apply z-[40] self-center justify-self-end;
  }

}
